/* Criteria #1, Homepage Design */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-image: url("../img/porsche-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-between;
    gap: 64px;
    font-size: 24px;
    /* background-color: #ffffff62; */
    padding: 24px;
    margin-right: 24px;
}

nav{
    display: flex;
    gap: 32px;
}

header p {
    color: #264653;
}

a{
    color: #edede9;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-right: auto;
    margin-left: 100px;
    gap: 32px;
    padding: 5rem;
    /* border: 1px solid #ffffff62; */
}

input{
    width: 500px;
    height: 30px;
    padding: 8px;
    border-radius: 8px;
    border: none;
}

textarea{
    width: 500px;
    height: 100px;
    padding: 8px;
    border-radius: 8px;
    border: none;
}

button{
    width: 200px;
    height: 40px;
    margin-top: 3rem;
    border-radius: 8px;
    border: none;
    background-color: #f6bd60;
    font-size: 16ox;
}

.footer{
    display: flex;
    justify-content: center;
    gap: auto;
    background-color: #fffcf933;
    padding: 1.5rem 3rem;
}

.footer .copyRight {
    text-align: center;
    color: #fffdfd;
    font-size: 0.8rem;
    padding: 1rem 0;
    margin: 0;
    margin-right: auto;
}

.footer .rightContainer{
    display: flex;
    gap: 4rem;
    margin-left: auto;
    padding: 0;
    margin: 0;
}

.footerLists p{
    cursor: pointer;
    font-size: 0.9rem;
    color: #ffffff;
    margin: 0.2rem 0;
    transition: color 0.2s;
}

.footerLists p:hover {
    color: #000;
}